<div>

  <center>
    <img class="mb-4" src="img/16.jpg" alt="" width="200">
  </center>

</div>

<center>
  <div class="jumbotron mt-4">
    <h1 class="display-4">Wellcome to Reserva Hotel</h1>
    <p class="lead">Reservation with your favorite Hotel </p>
    <hr class="my-4">
    <p>In this page you can reserve your room easier and fast.
    </p>
    <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Registro</a>
    <a class="btn btn-primary btn-lg" href="/users/signin" role="button">login</a>
  </div>
</center>